/*
//
// Copyright (c) 2014 Grigore Stefan, <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// The MIT License (MIT) <http://opensource.org/licenses/MIT>
//
*/

/*
//
// Bootstrap addons
//
*/

body{
	padding-top: 56px;
}

/*
// Datepicker z-index correction for Bootstrap Dialog
*/

.datepicker{
	z-index:1151 !important;
}


.navbar-nav-span{
	line-height: 20px;
	padding-top: 18px;
}

.navbar-header{
	float: none;
}

.navbar-toggle{
	font-size: 1em;
	margin-top: 5px;
	margin-bottom: 5px;
}

#template-navbar-fixed-top > div > div.nav.navbar-nav.navbar-right.navbar-nav-span {
	margin-right: 0px;
}

/*
// Dashboard sidebar
*/

.dashboard.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 0px 0px 0px 0px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #f5f5f5;
    	border-right: 1px solid #dddddd;
	float:left;
	width: 18em;
}

/*
// Toggle button
*/
.dashboard.sidebar .nav-sidebar-button-small{
	color: #888;
	width: 2.5em;
	height: 2.5em;
	cursor: pointer;
	text-align: center;
	background-color: #d5d5d5;
}

.dashboard.sidebar .nav-sidebar-button-small > i{
	font-size: 1.3em;
	margin-top: 0.45em;
}

.dashboard.sidebar div.nav-sidebar-button-small:hover{
	background-color: #e5e5e5;
}

/*
// Left/down switch
*/
.dashboard.sidebar .nav-sidebar-toggle.collapsed .glyphicon-chevron-down {
	display: none;
}

.dashboard.sidebar .nav-sidebar-toggle.collapsed .glyphicon-chevron-left {
	display: inline-block;
}

.dashboard.sidebar .nav-sidebar-toggle .glyphicon-chevron-left {
	display: none;
}

.dashboard.sidebar ul li > div > i{
	display: none;
}

/*
// Menu
*/

.dashboard.sidebar ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.dashboard.sidebar li.divider{
	display: none;
}

.dashboard.sidebar ul li{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.dashboard.sidebar ul li > div{
	padding-left: 0.45em;
	padding-right: 0.45em;
	padding-top: 0.45em;
	padding-bottom: 0.45em;
	background-color: #f5f5f5;
	height: 2.5em;
}

.dashboard.sidebar ul li a{
	text-decoration: none;
}

.dashboard.sidebar ul li a > span{
	color: #000;
	font-size: 1em;
	top: 0em;
	width: 13em;
	display: block;
	float: left;
}

.dashboard.sidebar ul li a > i.icon{
	color: #777;
	font-size:18px;	
	margin-top:1px;
	margin-right:4px;
	display:relative;
	float:left;
}

.dashboard.sidebar ul li a > img.icon{
	margin-top:2px;
	margin-right:6px;
	width: 16px;	
	display:relative;
	float:left;
}

.dashboard.sidebar ul li div a.nav-sidebar-toggle {
	color: #888;
}

.dashboard.sidebar ul > li.active > div {	
	background-color:#428bca;	
}

.dashboard.sidebar ul > li.active > div > a > span{
	color: #fff;	
}

.dashboard.sidebar ul > li.active > div i.icon{
	color: #fff;	
}

.dashboard.sidebar ul > li.active > ul li > div{
	background-color:#f5f5f5;
}

.dashboard.sidebar ul > li.active > ul li.active > div{
	background-color:#e5e5e5;
}

.dashboard.sidebar ul > li.active > div > a.nav-sidebar-toggle {
	color: #fff;
}

.dashboard.sidebar ul > li.active > ul a.nav-sidebar-toggle {
	color: #888;
}

.dashboard.sidebar ul > li.active > ul a span {
	color: #000;
}

.dashboard.sidebar ul li > div:hover{
	background-color: #ddd;
}

.dashboard.sidebar ul li.active> div:hover{
	background-color: #529bfa;
}

.dashboard.sidebar ul li > ul li div:hover{
	background-color: #ddd;
}

.dashboard.sidebar ul li > ul li.active div:hover{
	background-color: #ddd;
}

/*
// Small mode
*/

.dashboard.sidebar.sidebar-small{
	float:left;
	width: 2.5em;
	padding-left: 0px;
	padding-right: 0px;
	overflow: visible;
}

.dashboard.sidebar.sidebar-small > ul{
	overflow: visible;
	display: block;
}

.dashboard.sidebar.sidebar-small > ul > li{
	overflow: hidden;
	display: block;
}

.dashboard.sidebar.sidebar-small > ul > li > div > a > span{
	display: none;
}

.dashboard.sidebar.sidebar-small > ul > li > div > a.nav-sidebar-toggle{
	display: none;
}

.dashboard.sidebar.sidebar-small > ul > li > div > i{
	display: none;
}

.dashboard.sidebar.sidebar-small > ul > li > ul{
	display: none;
}

.dashboard.sidebar.sidebar-small > ul > li:hover{
	overflow: visible;
	display: block;
	width: 20em;	
	position:relative;
}

.dashboard.sidebar.sidebar-small > ul > li:hover > div > a > span{
	display: inline;
	margin-left: 1em;
}

.dashboard.sidebar.sidebar-small > ul > li:hover > div > a.nav-sidebar-toggle{
	display: none;
}

.dashboard.sidebar.sidebar-small > ul > li:hover > div > i{
	display: block;
	color: #fff;
	font-size: 1em;
	margin-top: 0.2em;	
}

.dashboard.sidebar.sidebar-small > ul > li:hover > ul{
	position: relative;
	display: block;
	overflow: visible;
	height: 0px;
	width: 20.2em;
	left: -0.2em;
	list-style-type: none;
	padding-left: 2.8em;
	float:left;
}

.dashboard.sidebar.sidebar-small > ul > li:hover {
	border-right: 1px solid #ddd;
}

.dashboard.sidebar.sidebar-small > ul > li:hover > ul > li {
	border-right: 1px solid #ddd;
}

.dashboard.sidebar.sidebar-small > ul > li:hover > ul > li:last-child {
	border-bottom: 1px solid #ddd;	
}

/*
// Content
*/

.dashboard.content{
	float:left;
	width: 100%;
	padding-left: 18em;
}

.dashboard.content.sidebar-small{
	float:left;
	width: 100%;
	padding-left: 2.5em;
}


/*
// Screen small
*/

@media (max-width: 768px) {

	.navbar-nav-span{
		margin-right: 6px;
	}

	/*
	// Dashboard sidebar
	*/

	.dashboard.sidebar {
		position: relative;
		display: block;
		float: none;
		width: 100%;
		height: auto;
		top: 0px;
		overflow-x: hidden;
		overflow-y: auto;
	    	border-right: 1px solid #dddddd;
	    	border-left: 1px solid #dddddd;
	    	border-top: 1px solid #dddddd;
	    	border-bottom: 1px solid #dddddd;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.dashboard.sidebar .nav-sidebar-button-small{
		display: none;
	}	   
	
	/*
	// Content
	*/

	.dashboard.content{
		float: none;
		padding-left: 0px;
	}

	.dashboard.content.sidebar-small{
		float: none;
		padding-left: 0px;
	}

	/*
	// Menu small
	*/

	.dashboard.sidebar.sidebar-small{
		float: none;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	             
	.dashboard.sidebar.sidebar-small ul li > div > i{
		display: none;
	}

	.dashboard.sidebar.sidebar-small ul li:hover > div > i{
		display: none;
	}

	.dashboard.sidebar.sidebar-small > ul > li > div > a > span{
		display: inline;
	}

	.dashboard.sidebar.sidebar-small > ul > li > div > a.nav-sidebar-toggle{
		display: block;
	}

	.dashboard.sidebar.sidebar-small > ul > li > ul{
		position: relative;
		display: block;
		overflow: hidden;
		height: auto;
		width: 100%;
		left: 0px;
		list-style-type: none;
		padding-left: 0px;
	}

	.dashboard.sidebar.sidebar-small > ul > li:hover{
		overflow: visible;
		display: block;
		width: 100%;	
		position:relative;
	}

	.dashboard.sidebar.sidebar-small > ul > li:hover > div > a > span{
		display: inline;
		margin-left: 0px;
	}

	.dashboard.sidebar.sidebar-small > ul > li:hover > div > a.nav-sidebar-toggle{
		display: block;
	}

	.dashboard.sidebar.sidebar-small > ul > li:hover > ul{
		position: relative;
		display: block;
		overflow: hidden;
		height: auto;
		width: 100%;
		left: 0px;
		list-style-type: none;
		padding-left: 0px;
		border-left: 0px solid #dddddd;
		border-bottom: 0px solid #dddddd;
	}

	.dashboard.sidebar.sidebar-small > ul > li:hover {
		border-right: 0px solid #ddd;
	}

	.dashboard.sidebar.sidebar-small > ul > li:hover > ul > li {
		border-right: 0px solid #ddd;
	}

	.dashboard.sidebar.sidebar-small > ul > li:hover > ul > li:last-child {
		border-bottom: 0px solid #ddd;	
	}	

}

/*
// Logout widget
*/

a.widget-logout > div > i{
	color: #ccc;
	text-decoration: none;
}

a.widget-logout:hover > div > i{
	color: #888;
	text-decoration: none;
}

/*
// User form widget
*/

a.widget-user-form > div > i{
	color: #ccc;
	text-decoration: none;
}

a.widget-user-form:hover > div > i{
	color: #888;
	text-decoration: none;
}


/*
//  Disable rounded corners on some elements
*/

.btn {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
/* flat */
  filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image:none;
}

.form-control{
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

.thumbnail{
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

.dropdown-menu{
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

.panel{
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

.input-group-addon{
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

/*
// XYO modules
*/

.xyo-form-file-link-delete-sub{
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
  border: 0px solid #F00;
}

.xyo-form-file-image-thumbnail-delete-sub{
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
  border: 0px solid #F00;
}

#back-to-top-btn{
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}


